= render partial: 'entity_breadcrumb'
.row
  .col-lg-6.col-lg-offset-3
    .well
      = simple_form_for([@account, @laboratory, @order]) do |f|
        %legend
          = form_title(@order)

        .form-inputs
          = f.input :tracking_number
        .form-inputs
          = f.input :order_date
        .form-inputs
          = f.association :doctor, as: :select, collection: @account.doctors, input_html: {class: 'selectized'}
        .form-inputs
          = f.association :trial_type,as: :select,  collection: @laboratory.trial_types , input_html: {class: 'selectized'}
        .form-inputs
          = f.input :conclusion, as: :text
        .form-inputs
          = f.input :comment, as: :text
        .form-actions
          = f.button :submit, t('common.actions.save')

