= render partial: 'entity_breadcrumb'
.row
  .col-lg-6.col-lg-offset-3
    .well
      = simple_form_for([@account, @doctor]) do |f|
        %legend
          = form_title(@doctor)

        = f.input :name

        = f.button :submit, t('common.actions.save')

