= render partial: 'entity_breadcrumb'
%p#notice= notice

%p
  %b= "#{t('activerecord.attributes.trial_type.name')}:"
  = @trial_type.name

= link_to t('action.common.edit'), edit_account_laboratory_trial_type_path(@account,@laboratory, @trial_type)
