= render partial: 'entity_breadcrumb'
.row
  .col-lg-6.col-lg-offset-3
    .well
      = simple_form_for(@account) do |f|
        %legend
          = form_title(@account)

        = f.input :name
        = f.input :description
        = f.button :submit, t('common.actions.save')

