= render partial: 'entity_breadcrumb'
%p#notice= notice

%h3
  = @account.name
%p
  %b= "#{t('activerecord.attributes.account.description')}:"
  = @account.description

= link_to t('action.common.edit'), edit_account_path(@account)